.Pokedex {
  color:black;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Pokedex-cards {
  display: grid;
  grid-template-columns: 1fr;
  border: 0px solid green;
}

@media screen and (min-width: 500px){
  .Pokedex-cards {
    width: 450px;
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 725px){
  .Pokedex-cards {
    width: 680px;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (min-width: 950px){
  .Pokedex-cards {
    width: 890px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media screen and (min-width: 1175px){
  .Pokedex-cards {
    width: 1125px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
}


@media screen and (min-width: 1400px){
  .Pokedex-cards {
    width: 1340px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  }
}

@media screen and (min-width: 1600px){
  .Pokedex-cards {
    width: 1560px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  }
}


@media screen and (min-width: 1850px){
  .Pokedex-cards {
    width: 1800px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  }
}